<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ray Siddiqui - Web Developer</title>
<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<script src="//use.fontawesome.com/a6b6862de2.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="main_navigation" class="clearfix">
  <%= link_to "Rayed Siddiqui", root_path, class: "name" %>
  <nav>
    <%= link_to "Articles", posts_path %>
    <%= link_to "Projects", projects_path %>
    <a href="#">Contact</a>
  </nav>
</header>

<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy; 2016 Rayed Siddiqui</p>
  <nav>
    <a href="https://github.com/s-rayed" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://ca.linkedin.com/in/rayed-siddiqui-46a0969b" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/ryder01" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
  </nav>
</footer>

</body>
</html>
